body{
  margin: 0;
  padding: 0;
  user-select: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #d8cdc0;
}

::-webkit-scrollbar {
  z-index: 9999;
  width: 6px;
  height: 6px;
  background-color: #d8cdc0;
}

::-webkit-scrollbar-thumb {
  background-color: black;
}

@font-face {
  font-family: "Soliden";
  src: url("SolidenTrial-Regular.ttf");
}

@font-face {
  font-family: "Loverica";
  src: url("Loverica-Regular.ttf");
}
@font-face {
  font-family: "Times";
  src: url("times.ttf");
}

@font-face {
  font-family: "CourierPrime";
  src: url("Courier\ Prime.ttf");
}
